/* I use darkmode / inverted on webpages. I turned it off and my text was all black on black. I hope my other projects weren't like that 
so I changed my text color to white  to make it readable */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

/* Background image */
body {
    background-image: url("img/sand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   

    /* Center all content */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
}

/* Title box styling */
.title {
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

/* Container for input section */
.inputWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Buttons */
button, .guessBtn {
    background-color: #00bcd4;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

button:hover {
    background-color: #0097a7;
}

/* Output and text styling */


.output {
    background-color: aliceblue;
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin-top: 10px;
}
